body, html{
	height: 100%;
	margin: 0;
	padding: 0;
}
.bgimg{
	background: url('../images/bg.jpg');
	height: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
	color: black;
	font-family: Verdana;
}
.middle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
h1{
	font-size: 40px;
	letter-spacing: 30px;
	font-weight: 100;
}
#demo{
	font-weight: lighter;
	word-spacing: 20px;
}
hr{
	margin: auto;
	width: 100%;
	border: 1.5px solid #fff;
}